body{
    background-color: skyblue;
    font-family: 'Baloo 2', cursive;
    color: chocolate;
}

.grid{
    grid-template-columns: auto auto;
    display: grid;
}

.imagem{
    text-align: left;
    border-radius: 10%;
    padding: 3em;
}

.titulo{
    color: firebrick;
    font-family: 'Pangolin', cursive;
}
