body{
    background-color: skyblue;
    color: rgb(160, 119, 52);
    font-family: 'Cormorant', serif;
}

.titulo{
    color: orange;
    font-family: 'Caveat', cursive;
}

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}
