body{
    background-color: rgb(151, 191, 252);
    font-family: 'Ubuntu Mono', monospace;
    color: black;
}

.links{
    text-decoration: none;
}

.links:hover{
    text-decoration: underline;
}

.titulo{
    color: rgb(70, 16, 16);
    font-family: 'Indie Flower', cursive;
}

h2{
    font-family: 'Lobster', cursive;
}

.reciclaPet{
    color: black;
}


.imagem{
    width: 35%;
}

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}
