body{
    background-color: rgb(151, 191, 252);
    font-family: 'Ubuntu Mono', monospace;
    color: black;
}

.links{
    text-decoration: none;
}

.links:hover{
    text-decoration: underline;
}

.titulo{
    color: rgb(70, 16, 16);
    font-family: 'Indie Flower', cursive;
}

h2{
    font-family: 'Lobster', cursive;
}

.reciclaPet{
    color: black;
}

.reciclaPet .grid{
    display: grid;
    grid-template-columns: auto auto;
}

.imagen1{
    transform: scale(0.2) translateY(50vh);
    opacity: 0; 
    animation: 2s linear 0.5s imagensOpen forwards;
  }
  
  @keyframes imagensOpen{ 
    0%{
      transform: scale(0.2) translateY(50vh);
      opacity: 0; 
    }
    100%{
      transform: scale(1) translateY(0);
      opacity: 1;  
    }
  }

@media (min-width: 400px) {
    .reciclaPet .grid{
        grid-template-columns: auto;
    }
}

@media (min-width: 600px) {
    .reciclaPet .grid{
        grid-template-columns: auto auto;
    }
}

@media (min-width: 1200px) {
    .reciclaPet .grid{
        grid-template-columns: repeat(3, auto);
    }
}

.LED .grid{
    display: grid;
    grid-template-columns: 528.98px 644px;
}

.imagem{
    width: 35vh;
    padding: 0.4em;
}

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}
